<div>
  <p class="comment"><%= comment.body %></p>
  <p class="comment">Created At:<%= comment.created_at.strftime('%m/%d/%Y') %></p>
  <p class="comment">Updated At:<%= comment.updated_at.strftime('%m/%d/%Y') %></p>
</div>