<% @jobs.each do |job| %>
<div> 
  <h1>job.company.name</h1>
  <p> <%=job.title%></p>
  <p> <%=job.description%></p>
  <a> <%=job.level_of_interest%></a>
  <p><button> <%=job.city%></button></p>
</div> <% binding.pry %>
<% end %>